
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  // line-height: 80px; /* Vertically center the text there */
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;


  font-size: 14px;

  p {
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  }
}
